
/* I keep forgetting what box-sizing does */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fixed Ceiling Line Gradient */
/* AMAZING GRADIENT RESOURCE
https://cssgradient.io/
 */
.ceiling-strip {
  display: block;
  width: 100%;
  position: fixed;
  top: 0px;
  background: rgb(51,0,252);
  background: linear-gradient(90deg, rgba(51,0,252,1) 0%, rgba(0,186,43,1) 51%, rgba(0,251,252,1) 100%);
  height: 5px;
}

/* Hide horizontal content overflow */
body {
  /* font-family:"Arial", Serif; */
  font-family: 'Lato', sans-serif;
  /* background-color: #f4f4f4; */
  overflow-x: hidden;
  /* margin: 0; */
}

header {
  /* display: none; */
  z-index: 10000;
  position: fixed;
  top: 5px;
  height: 60px;
  background: white;
  width: 100%;

}

/* Declare Hamburger Icon and List Links as Flex Items */
.navbar {
  background-color: #fff;
  /* background-color: #3b5998; */
  overflow: hidden;
  height: 4em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-bottom: 2px solid #dedede;
}

/* Generic Link Styling */
a {
  text-decoration: none;
}

/* Declare List Links as Flex Items */
.navbar ul {
  justify-content: center;
  /* background-color: red; */
  display: flex;
  /* IF ONLY JONNOVATIVE SHOWS UP ON MOBILE, CENTER  */
  align-items: center;
  list-style: none;
  position: relative;
}

/* Space Out List links */
.navbar ul li {
  padding: 1em;
    /* align-self: stretch; */
}

.navbar ul li:hover {
  /* background: yellow; */
  /* align-self: stretch; */
  /* padding: 0; */
}

/* Make List Link:Hover Green Background Blocks */
/* NOTE I CHANGED THIS FROM LIST TO ANCHOR             */
.navbar ul li a:hover,
.navbar ul li a:focus {
  /* padding-top: 1.45em; */
  /* background: green; */
}

/* Make Horizontal Nav Items White */
.navbar a{
  color: #000;
}

/* start */
/* What if I put each icon in a div and moved the box 5 pixels from the top? */
/* .navbar a{
  margin-top: 5px;
  color: red; */
}
/* .navbar a*/
/* end */

/* Logo Font Styling */
ul.navbar-nav .logo {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  color: black;
  font-size: 1.5em;
  /* align-self: flex-end; */
}

/* Declares Span Containing Hamburger Icon a Flex Container */
/* Item is flexed for easy centering */
/* Margin makes it so List links don't have weird background-color size */
.open-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hamburger Icon Styling  */
.open-slide .heaven-icon {
  padding: .3em .5em 0 .5em;
  font-size: 2em;
  align-self: stretch;
  color: black;
}

/* Filler on left to make flexbox go O   OOO   O */
.open-slide .heaven-icon-clear {
  padding: .3em .5em 0 .5em;
  font-size: 2em;
  align-self: stretch;
  color: #fff;
}

/* Hamburger Icon:hover Styling */
.open-slide .heaven-icon:hover,
.open-slide .heaven-icon:focus {
  /* background-color: #3d0c02; */
  background-color: #F2F2F2;
}




/* Make side navigation fill entire screen */
.side-nav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index:1;
  top:0;
  right: 0;
  background-color: #3d0c02;
  /* ITEMS TO BE CHANGED START */
  /* opacity: 0.9; */
  overflow-x: auto;
  padding-top: 60px;
  /*  ITEMS TO BE CHANGED END */
  /* transition: 0.5s; */
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

/* Style each side-bar list link */
.side-nav a{
  /* padding: 10px 10px 10px 30px; */
  /* border: 1px solid white; */
  margin: .5em 0;
  padding-right: 3em;
  text-decoration: none;
  font-size: 1.375em;
  color: #ccc;
  transition: 0.3s;
}

/* Make sure each side-bar list link:hover changes */
.side-nav a:hover {
  color: #fff;
}

/*
padding: .3em .5em 0 .5em;
font-size: 2em;
 */

/* Make it so side-bar X button has overlayed on hamburger menu icon */
.side-nav .btn-close {
  /* to its container */
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3em;
  padding-top: .1em;
  padding-right: .3em;
  /* NOTE: if I want to center an item with calc, could I do 50% then subtract whatever em the item is? */
  /* margin-left: 50px; */
}



/* container to make things like Medium START */
.container {
  max-width: 680px;
  margin: 0 auto;
  /* padding: 0; */
}


/* container to make things like Medium END */


/* Filler Styling for "Responsive Side Menu" */
h1 {
  padding: .9em 0 .75em;
  text-align: center;
  /* font-size: 32px; */
}


/* SECTION CARD STYLING START */

.container section {
  /* background-color: #fff; */
  background-color: #efefef;
  /* color: yellow; */
  /* font-size: 16px; */
  padding: 0 0.95em;
  margin-bottom: 1.25em;
  /* how do i make it 20 em? */
}

.container section h2 {
  margin-bottom: .40em;
  padding-top: .4em;
  text-align: center;
}

.container section h4 {
  margin-bottom: .60em;
  text-align: center;
}

.container section p {
  margin-bottom: .9em;
}

.container section p:last-child {
  padding-bottom: 1.05em;
}

.container section div.ol-container {
  /* max-width: 65%; */
  margin: 0 auto;
  padding-bottom: .9em;
}

.container section div.ol-container ol {
  margin-top: -.5em;
}

.container section figure a img.lois-quickfix {
  max-width: 100%;
  padding-top: .9em;
  padding-bottom: .4em;
}

.container section figure a img.lois-quickfix figcaption {
  margin-top: 5em;
}

.container section aside {
  padding-bottom: .9em;
  padding-top: 1em;
}

.container section form {
  padding-bottom: 1em;
}

.container section form fieldset {
  padding: 1em;
}

.container section form fieldset button {
  padding: .75em 3em;
  margin-top: .5em;
  margin-left: 3em;
  border-radius: 10%;
  background: black;
  color: white;
}

.container section form fieldset button a {
  /* color: #fff; */
}

.container section form fieldset button:hover,
.container section form fieldset button:focus {
  background: #333;
}

.container section p.indent {
	text-indent: 3em;
}

.container section ul {
  margin: 0 auto;
  max-width: 80%;
}

/* .container section div.ol-container ol {
  padding-left: 10px;
} */

main article section figure {
  margin: 0 auto;
}

main article section figure img.selfie-quickfix {
	max-width: 25%;
  margin: 0 auto;
  border-radius: 50%;
}

main article section figure figcaption {
  float: right;
  margin-right: 10%;
  margin-top: 10%;
  text-align: center;
}


/* SECTION CARD STYLING END */


/* BUTTONS AFTER SECTIONS BEFORE FOOTER START */
  section.center-btns {
    /* background: grey; */
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
  }

  section div {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  /* first button #212b36 */
  /*      background: linear-gradient(180deg,#fff,#f9fafb);
    border: .1rem solid var(--p-border,#c4cdd5);*/

  section div a {
    background: #3f4eae;
    /* margin-top: .8rem; */
    /* margin-left: .8rem; */
    color: #fff;
    border-color: #3f4eae;
    background: linear-gradient(180deg,#6371c7,#5563c1);
    box-shadow: inset 0 1px 0 0 #6774c8, 0 1px 0 0 rgba(22,29,37,.05), 0 0 0 0 transparent;
    /* min-height: 3.6rem;
    min-width: 3.6rem;
    margin: 0; */
    padding: .7rem 1.6rem;
    border-radius: 3px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
  }

  section div a:hover,
  section div a:focus {
    background: #3f4eae;
  }

  section div a:last-of-type {
    margin-left: .8rem;
  }


      /* <!-- <p><a href="portfolio/portfolio.html">View Portfolio</a></p>
      <p><a href="contact.html">Contact</a></p> --> */


/* BUTTONS AFTER SECTIONS BEFORE FOOTER END */

/* BUTTONS ON THANK YOU PAGE START */

.mht {
  margin-top: 40px;
}

section.ty-btns {

  display: flex;
  justify-content: center;
  flex-direction: column;
}

section.ty-btns div a {
  min-width: 10em;
  margin-left: 0;
}

.second {
  border-color: rgba(8, 117, 33,1);
  background: linear-gradient(180deg,rgba(0, 179, 41,1),rgba(8, 117, 33,1));
  box-shadow: inset 0 1px 0 0 rgba(0, 179, 41,1), 0 1px 0 0 rgba(42, 158, 19,.05), 0 0 0 0 transparent;
}

.second:hover,
.second:focus {
    background: rgba(8, 117, 33,1);
}

.third {
  border-color: rgba(0,251,252,1);
  background: linear-gradient(180deg,rgba(0,251,252,1),rgba(0, 163, 163, 1));
    box-shadow: inset 0 1px 0 0 #fff, 0 1px 0 0 rgba(0, 163, 163, 1), 0 0 0 0 transparent;
}

.third:hover,
.third:focus {
    background: rgba(0, 163, 163, 1);
}

.fas {
  margin-right: .5em;
  margin-left: -.5em;
}

/* BUTTONS ON THANK YOU PAGE END */


.ol-container{
  /* color: red; */
  /* padding: 0 2em; */
  /* width: 100%; */
  display: flex;
}




/* CATEGORIES START */
.categories {
  display: none;
}
/* CATEGORIES END */

/* FOOTER CARD STYLING START */
footer {
  background-color: #efefef;
  padding: .95em;
  text-align: center;
  margin-bottom: 1.25em;
}

footer p {
  margin-bottom: .25em;
}



footer p.fp-center {
  /* color: red; */
  padding-bottom: .7em;
}

/* FOOTER CARD STYLING END */










/* Hide desktop nav items on narrow/mobile screens */
@media(max-width:64em) {
  .navbar .hidden-links{
    display:none
  }
}

/* RACKSPACE NAV WITH START */
/*
at media min-width: 1280px = width: 1280px; 80em
at media min-width: 992px = width: 990px; 62em
at media min-width: 768px = width: 770px; 48em

 */
/* RACKSPACE NAV WITH END */


/* Hide hamburger icon on larger/wider screen */
@media (min-width: 64.1em) {
  .open-slide{
    display:none;
  }

  /* .navbar .hidden-links */
  /* Styles navigation bar */
  .navbar ul{
    display:grid;
    /* grid-template: 4em
                   / 2em minmax(3em, 6em) 1em 2em 1em 2em 1em 2em;
                   /* minmax(9, 1fr) */
   grid-template: 4em
                  / min-content 1fr repeat(3, 10em);
    align-items: center;
    text-align: center;
    list-style: none;
    /* padding: 5px 0; */
    /* background: lightblue; */
    padding: 0;
  }

  .navbar ul li {
    /* padding: 0; */
  }

/* Styles Jonnovative logo */
  .navbar .navbar-nav .logo{
    color: black;
    padding: 0 .5em;
  }

/* Stretches middle nav with content */
  .navbar-nav {
    /* background-color: red; */
    min-width:62em;
    /* max-width:80em; */
    margin: 0 auto;
  }

  .logo {
    font-family: 'Lato', sans-serif;
    /* color: red; */
    /* grid-area: 1 / 1 / 2 / 2; */
  }

  /* .portfolio-link { */
    /* grid-area: 1 / 3 / 2 / 4; */
    /* text-align: left; */
    /* margin-left: 5px; */
  /* } */

  /* .about-link { */
    /* grid-area: 1 / 4 / 2 / 5; */
    /* text-align: left; */
    /* margin-left: 5px; */
  /* } */

  /* .contact-link {
    grid-area: 1 / 5 / 2 / 6;
    text-align: left; */
    /* margin-left: 5px; */
    /* margin-right: auto; */
  /* } */

  nav.navbar ul.navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    /* background: grey; */
  }


  nav.navbar ul.navbar-nav li.logo-left {
    /* background-color: red; */
    margin-right: auto;
  }


/* logo update Jonnovative START */
  header nav.navbar ul.navbar-nav li.logo-left a.logo.logo-center {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 1.5em;
  }


  /* logo update END */

  nav.navbar ul.navbar-nav li.folder-link,
  nav.navbar ul.navbar-nav li.person-link,
  nav.navbar ul.navbar-nav li.contact-link {
    /* background-color: red; */
    /* align-self: stretch; */
    /* display: flex; */
    margin: 0;
    padding: 1.2em;
  }

  nav.navbar ul.navbar-nav li:hover,
  nav.navbar ul.navbar-nav li:focus {
      background-color: #F2F2F2;
    }


  .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
  .material-icons.md-18 {
    font-size: 18px;
    align-self: stretch;
    line-height: inherit;
    /* padding: 0; */
    /* display: flex; */
    /* padding-top: 6px; */
  }

    nav.navbar ul.navbar-nav li a.link-leveler {
    color: black;
    font-size: 18px;
  }

  /* li.md-folder {
    grid-area: 1 / 3 / 2 / 4;
  }

  li.md-person {
    grid-area: 1 / 5 / 2 / 6;
  }

  li.md-call {
    grid-area: 1 / 7 / 2 / 8;
  } */

  /* Padding to target individual items for positioning */
  .navbar ul li:last-child,
  .navbar ul li:nth-child(2),
  .navbar ul li:nth-child(3),
  .navbar ul li:nth-child(4),
  .navbar ul li:nth-child(5),
  .navbar ul li:nth-child(6),
  .navbar ul li:nth-child(7) {
    padding: 0 1em;
  }

  .navbar ul li:nth-child(2),
  .navbar ul li:nth-child(4),
  .navbar ul li:nth-child(6) {
    padding-right: 0;
    /* margin-right: .5em; */
  }

  .navbar ul li:nth-child(3),
  .navbar ul li:nth-child(5),
  .navbar ul li:nth-child(7) {
    padding-left: 0;
    /* margin-right: 1.5em; */
  }

}








/* this is the margin for phone-size media from MEDIUM.com */
@media(min-width: 0) and (max-width: 34.499em) {
  .container {
    margin: 0 .9em;
  }

  header nav.navbar ul.navbar-nav li.logo-left a.logo.logo-center {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 1.5em;
  }
}

/* also taken from Medium.com */
@media(max-width: 45.499em) and (min-width: 34.500em) {
  .container {
    margin: 0 24px;
  }

  header nav.navbar ul.navbar-nav li.logo-left a.logo.logo-center {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 1.5em;
  }
}

/* this is the margin for iPad portrait from MEDIUM.com */
@media(max-width: 56.499em) and (min-width: 45.500em) {
  .container {
    margin: 0 48px;
  }

  header nav.navbar ul.navbar-nav li.logo-left a.logo.logo-center {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 1.5em;
  }
}

@media(min-width:48.000em) {
  .side-nav {
    background-color: #000;
    /* ITEMS TO BE CHANGED START */
    justify-content: flex-start;
    align-items: flex-end;
  }

  .side-nav a {
    padding-right: 5em;
    margin-bottom: 2em;
  }
}

/* this is the margin for iPad Pro portrait from MEDIUM.com */
@media(max-width: 67.499em) and (min-width: 56.500em) {
  .container {
    margin: 0 64px;
    margin: 0 auto;
  }

  header nav.navbar ul.navbar-nav li.logo-left a.logo.logo-center {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 1.5em;
  }
}

@media(min-width: 80em) {
  /* Stretches middle nav with content */
    .navbar-nav {
      /* background-color: red; */
      min-width:80em;
      /* max-width:80em; */
      margin: 0 auto;
    }
}



/* Margin top for all device sizes for h1 to start beneath header === .mt */
/* Margin bottom for all device sizes to either have footer margins or full width and no bottom margin === .mb */
@media(min-width:1em) and (max-width: 34.499em) {
  .mb {
    margin: 0 .9em .9em;
    background: red;
  }
}

@media(min-width: 1em) and (max-width: 47.999em) {
  .mt {
    margin-top: 65px;
  }

  .mht {
    margin-top: 40px;
  }
}

/* max-width: 45.399em) */
@media all and (min-width: 34.500em) and (max-width: 45.999em) {
  .mb{
    margin: 0 24px 1.4em;
  }
}

@media(min-width: 46.00em) {
  .mb {
    margin-bottom: 0;
  }

  .mt {
    margin-top: 65px;
  }

  .mht {
    margin-top: 40px;
  }
}
