body {
  background: #efefef;
  margin: 0;
  /* padding: 0; */
}

.navigation {
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #000;
  background: #dedede;
}

header ul {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

header ul li {
  /* border: 1px solid red; */
  margin: .5em;
  padding: .5em;
  list-style: none;
}

.logo-right {
  padding: 1em 2em 0 2em;
  border: 2px solid black;
  border-radius: 100%;
  align-self: stretch;
  order: 1;
  margin-left: auto;
}

header ul li:nth-child(1),
header ul li:nth-child(2),
header ul li:nth-child(4),
header ul li:nth-child(5) {
  flex-basis: auto;
  min-width: 70px;
}

header ul li:nth-child(3) {
  margin-left: auto;
  align-self: flex-end;
}

header ul li a {
  text-decoration: none;
  color: navy;
}

header ul li a:hover,
header ul li a:focus {
  color: red;
  text-decoration: underline;
}































/* ---------------------------------- */
/*  --------- MEDIA QUERIES --------- */
/* ---------------------------------- */
@media (min-width: 375px) {

  p {
    font-size: 1.2rem;
  }

  .wrapper {
    width: 80%;
    margin: 0 auto;
  }

  header {
    background: white;
  }

  header ul {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    background: white;
  }

  .navigation {
    width: 100%;
  }

  header ul li:nth-child(1),
  header ul li:nth-child(2),
  header ul li:nth-child(4),
  header ul li:nth-child(5),
  header ul li:nth-child(6) {
    display: none;
  }

  header ul {
    padding: none;
  }

  .logo-right {
    align-self: center;
    margin: 0 auto;
    height: 7em;
    padding: 0 1em .5em 1em;
  }

  .bottle-grid {
    display: grid;
    grid-template: minmax(200px, 200px)
                   minmax(200px, 200px)
                   minmax(200px, 200px)
                   minmax(200px, 200px)
                   minmax(200px, 200px)
                   minmax(200px, 200px)
                   minmax(200px, 200px)
                   minmax(200px, 200px)
                   minmax(200px, 200px)
                   minmax(200px, 200px)
                   minmax(200px, 200px)
                   minmax(200px, 200px)
                   / minmax(200px, 200px);
     background: grey;
     margin: 0 auto;
     width: 200px;
     /* grid-gap: 1% 1%; */
     /* overflow: none; */
     /* padding: 1%; */
  }

  .grid-item {
    margin: 5%;
  }

  .grid-item:first-child{
    border: 1px solid black;
    grid-area: 1 / 1 / 2 / 2;
    background: pink;
 }

 .grid-item:nth-child(2){
   border: 1px solid black;
   grid-area: 2 / 1 / 3 / 2;
   background: pink;
}

.grid-item:nth-child(3){
  border: 1px solid black;
  grid-area: 3 / 1 / 4 / 2;
  background: pink;
}

.grid-item:nth-child(4){
  border: 1px solid black;
  grid-area: 4 / 1 / 5 / 2;
  background: pink;
}

.grid-item:nth-child(5){
  border: 1px solid black;
  grid-area: 5 / 1 / 6 / 2;
  background: pink;
}

.grid-item:nth-child(6){
  border: 1px solid black;
  grid-area: 6 / 1 / 7 / 2;
  background: pink;
}

.grid-item:nth-child(7){
  border: 1px solid black;
  grid-area: 7 / 1 / 8 / 2;
  background: pink;
}

.grid-item:nth-child(8){
  border: 1px solid black;
  grid-area: 8 / 1 / 9 / 2;
  background: pink;
}

.grid-item:nth-child(9){
  border: 1px solid black;
  grid-area: 9 / 1 / 10 / 2;
  background: pink;
}

.grid-item:nth-child(10){
  border: 1px solid black;
  grid-area: 10 / 1 / 11 / 2;
  background: pink;
}

.grid-item:nth-child(11){
  border: 1px solid black;
  grid-area: 11 / 1 / 12 / 2;
  background: pink;
}

.grid-item:last-child{
  border: 1px solid black;
  grid-area: 12 / 1 / 13 / 2;
  background: pink;
}

  div > img {
    max-width: 100%;
  }

}

@media (min-width: 700px) {
  p {
    font-size: 1rem;
  }

  .wrapper {
    max-width: 60%;
  }

  .bottle-grid {
    display: grid;
    grid-template: minmax(200px, 200px) minmax(200px, 200px)
                   minmax(200px, 200px) minmax(200px, 200px)
                   minmax(200px, 200px) minmax(200px, 200px)
                   minmax(200px, 200px) minmax(200px, 200px)
                   minmax(200px, 200px) minmax(200px, 200px)
                   minmax(200px, 200px) minmax(200px, 200px)
                   / 1fr minmax(200px, 200px) minmax(200px, 200px) 1fr;
     background: #efefef;
     grid-gap: .5% 3%;
     /* padding: 1%; */
     /* margin: 0 auto; */
     max-height: 1230px;
     min-width: 440px;
  }

  .grid-item {
    margin: 0;
  }

  .grid-item:first-child{
    border: 1px solid black;
    grid-area: 1 / 2 / 2 / 3;
    background: pink;
 }

 .grid-item:nth-child(2){
   border: 1px solid black;
   grid-area: 1 / 3 / 2 / 4;
   background: pink;
}

.grid-item:nth-child(3){
  border: 1px solid black;
  grid-area: 2 / 2 / 3 / 3;
  background: pink;
}

.grid-item:nth-child(4){
  border: 1px solid black;
  grid-area: 2 / 3 / 3 / 4;
  background: pink;
}

.grid-item:nth-child(5){
  border: 1px solid black;
  grid-area: 3 / 2 / 4 / 3;
  background: pink;
}

.grid-item:nth-child(6){
  border: 1px solid black;
  grid-area: 3 / 3 / 4 / 4;
  background: pink;
}

.grid-item:nth-child(7){
  border: 1px solid black;
  grid-area: 4 / 2 / 5 / 3;
  background: pink;
}

.grid-item:nth-child(8){
  border: 1px solid black;
  grid-area: 4 / 3 / 5 / 4;
  background: pink;
}

.grid-item:nth-child(9){
  border: 1px solid black;
  grid-area: 5 / 2 / 6 / 3;
  background: pink;
}

.grid-item:nth-child(10){
  border: 1px solid black;
  grid-area: 5 / 3 / 6 / 4;
  background: pink;
}

.grid-item:nth-child(11){
  border: 1px solid black;
  grid-area: 6 / 2 / 7 / 3;
  background: pink;
}

.grid-item:last-child{
  border: 1px solid black;
  grid-area: 6 / 3 / 7 / 4;
  background: pink;
}

}
