*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: #ee6352;
  --clr-dark: #333;
  --clr-neutral: #ddd;
  --clr-light: #fff;
}

body {
/* font-family: basic-sans, sans-serif; */
  color: var(--clr-body);
  background: var(--clr-neutral);
  /* background-color: black; */
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  /* height: 300vh; */
}

/* a { color: var(--clr-primary); } */

a {
  text-decoration: none;
  color: black;
}

.ceiling-strip {
  display: block;
  width: 100%;
  position: fixed;
  top: 0px;
  background: linear-gradient(to right, #eb0000 0%, #9500ba 51%, #3300fc 100%);
  height: 5px;
}

header {
  /* display: none; */
  position: fixed;
  top: 5px;
  height: 60px;
  background: white;
  width: 100%;
  border-bottom: 2px solid #dedede;
}

nav {
  margin: 0;
}

ul {
  margin: 0;
  /* background: yellow; */
}

.main-nav {
  display: grid;
  grid-template: 50px
                 / minmax(180px, 180px) minmax(200px, 200px) 1fr 1fr 18px 90px 15px repeat(2,18px 90px);
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 5px 0;
  max-width: 1280px;
}

.logo {
  font-family: 'Lato', sans-serif;
  /* color: red; */
  grid-area: 1 / 1 / 2 / 2;
}

.portfolio-link {
  grid-area: 1 / 6 / 2 / 7;
  text-align: left;
  margin-left: 5px;
}

.about-link {
  grid-area: 1 / 9 / 2 / 10;
  text-align: left;
  margin-left: 5px;
}

.contact-link {
  grid-area: 1 / 11 / 2 / 12;
  text-align: left;
  margin-left: 5px;
}

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-18 {
  font-size: 18px;
  margin-right: 5px;
  line-height: inherit;
  /* display: grid;
  align-items: flex-end; */
  /* position: absolute; */
}

li.md-folder {
  grid-area: 1 / 5 / 2 / 6;
}

li.md-person {
  grid-area: 1 / 8 / 2 / 9;
}

li.md-call {
  grid-area: 1 / 10 / 2 / 11;
}

/* Bad form */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  line-height: 1.6;
  overflow-x: hidden;
}

.nav {
  background: var(--clr-light);
  background: red;
  /* min-width: 50vw; */
  position: absolute;
  left: 0;
  box-shadow: 0 0 3em rgba(0,0,0,.15);
  transform: translateX(-100%);
  /* This translation pushes the hamburger menu left or right.
  What I need to do is find out which property targets the hamburger alignment */
  /* transform: translateX(-57%); */
  transition: transform 300ms cubic-bezier(.5, 0, .5, 1)
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 3em 6em;
}

.nav__item {
  margin-bottom: 3em;
}

.nav__link {
  text-decoration: none;
  color: var(--clr-dark);
}

.nav__link:hover {
  text-decoration: underline;
  color: var(--clr-primary);
}

.nav__toggle {
  position: absolute;
  top: 1.5em;
  left: 0;
  transform: translateX(724%);
  background: var(--clr-light);
  padding: 1em .5em;
  border: 0;
  border-radius: .25em 0 0 .25em;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 2em;
  height: 3px;
  background: var(--clr-dark);

  transition: transform 350ms ease-in-out, opacity 200ms linear;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
}

.hamburger::before { bottom: 6px; }
.hamburger::after { top: 6px;}


/* Navigation open styles */

.nav-open .nav {
  transform: translateX(0);
}

/* Change this stuff below */

.nav-open .hamburger {
  transform: rotate(45deg);
}

.nav-open .hamburger::before {
  opacity: 0;
}

.nav-open .hamburger::after {
  transform: rotate(90deg) translate(-6px);
}





/* .main-nav li:nth-child(2),
.main-nav li:nth-child(3),
.main-nav li:nth-child(4) {
  font-size: 1.125rem;
  align-self: center;
  padding-top: 1px;
} */


/* MEDIA QUERIES */
/* HAMBURGER MENU USED BELOW 768PX Threshold */

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
  /* KEVIN POWELL HAMBURGER CHALLENGE */


  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125em;
    line-height: 1.6;
    overflow-x: hidden;
  }

  .nav {
    background: var(--clr-light);
    background: red;
    /* min-width: 50vw; */
    position: absolute;
    left: 0;
    box-shadow: 0 0 3em rgba(0,0,0,.15);
    transform: translateX(-100%);
    /* This translation pushes the hamburger menu left or right.
    What I need to do is find out which property targets the hamburger alignment */
    /* transform: translateX(-57%); */
    transition: transform 300ms cubic-bezier(.5, 0, .5, 1)
  }

  .nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 3em 6em;
  }

  .nav__item {
    margin-bottom: 3em;
  }

  .nav__link {
    text-decoration: none;
    color: var(--clr-dark);
  }

  .nav__link:hover {
    text-decoration: underline;
    color: var(--clr-primary);
  }

  .nav__toggle {
    position: absolute;
    top: 3em;
    /* Return to 0 */
    left: 2em;
    transform: translateX(550%);
    /* background: var(--clr-light); */
    background: yellow;
    /* width: 200px; */
    padding: 1em .5em;
    border: 0;
    border-radius: .25em 0 0 .25em;
  }

  .hamburger {
    display: block;
    position: relative;
    width: 3em;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    width: 2em;
    height: 3px;
    /* background: var(--clr-dark); */
    background: green;
    width: 3em;
    /* padding: 0 2em; */
    transition: transform 350ms ease-in-out, opacity 200ms linear;
  }

  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
    /* left: 0; */
  }

  .hamburger::before {
    background: red;
    margin-bottom: 5px;
    /* width: 3em; */
  }

  .hamburger::after {
    background: blue;
    margin-top: 5px;
    /* width: 3em; */
  }

  /* Changes the line height of the hamburger */
  .hamburger::before { bottom: 6px; }
  .hamburger::after { top: 6px;}


  /* Navigation open styles */

  .nav-open .nav {
    /* This is when the JavaScript gets involved */
    transform: translateX(0);
  }

  /* Change this stuff below */

  .nav-open .hamburger {
    /* Transforms the X overall */
    transform: rotate(45deg);
  }

  .nav-open .hamburger::before {
    /* Makes the 3rd hamburger line invisible when it transitions into an X */
    opacity: 0;
  }

  .nav-open .hamburger::after {
    /* Rotates the hamburger into an X */
    transform: rotate(90deg) translate(-10px);
  }

  header {
    height: 100px;
  }

  .main-nav li:nth-child(1) {
    /* 3rem might actually not be bad on mobile */
    font-size: 3rem;
  }

  .main-nav li:nth-child(2),
  .main-nav li:nth-child(3),
  .main-nav li:nth-child(4),
  .main-nav li:nth-child(5),
  .main-nav li:nth-child(6),
  .main-nav li:nth-child(7) {
    display: none;
  }

  .main-nav {
    display: grid;
    grid-template: 80px
                   / 50px 1fr 50px;
    align-items: center;
    text-align: center;
    /* list-style: none;
    padding: 5px 0;
    max-width: 1280px; */
  }

  .logo {
    grid-area: 1 / 2 / 2 / 3;
  }
}



@media (min-width: 768px) {
  .main-nav {
    width: 770px;
    margin: 0 auto;
  }

  .logo {
    font-size: 1.125rem;
  }
}

@media (min-width: 992px) {
  .main-nav {
    width: 990px;
    margin: 0 auto;
  }

  .logo {
    font-size: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .main-nav {
    width: 1280px;
    margin: 0 auto;
  }
}
