* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  /* height: 300vh; */
}

a {
  text-decoration: none;
  color: black;
}

.ceiling-strip {
  display: block;
  width: 100%;
  position: fixed;
  top: 0px;
  background: linear-gradient(to right, #eb0000 0%, #9500ba 51%, #3300fc 100%);
  height: 5px;
}

header {
  /* display: none; */
  position: fixed;
  top: 5px;
  height: 60px;
  background: white;
  width: 100%;
  border-bottom: 2px solid #dedede;
}

nav {
  margin: 0;
}

ul {
  margin: 0;
  /* background: yellow; */
}

.main-nav {
  display: grid;
  grid-template: 50px
                 / minmax(180px, 180px) minmax(200px, 200px) 1fr 1fr 18px 90px 15px repeat(2,18px 90px);
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 5px 0;
  max-width: 1280px;
}

.logo {
  font-family: 'Lato', sans-serif;
  /* color: red; */
  grid-area: 1 / 1 / 2 / 2;
}

.portfolio-link {
  grid-area: 1 / 6 / 2 / 7;
  text-align: left;
  margin-left: 5px;
}

.about-link {
  grid-area: 1 / 9 / 2 / 10;
  text-align: left;
  margin-left: 5px;
}

.contact-link {
  grid-area: 1 / 11 / 2 / 12;
  text-align: left;
  margin-left: 5px;
}

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-18 {
  font-size: 18px;
  margin-right: 5px;
  line-height: inherit;
  /* display: grid;
  align-items: flex-end; */
  /* position: absolute; */
}

li.md-folder {
  grid-area: 1 / 5 / 2 / 6;
}

li.md-person {
  grid-area: 1 / 8 / 2 / 9;
}

li.md-call {
  grid-area: 1 / 10 / 2 / 11;
}

/* .main-nav li:nth-child(2),
.main-nav li:nth-child(3),
.main-nav li:nth-child(4) {
  font-size: 1.125rem;
  align-self: center;
  padding-top: 1px;
} */


/* MEDIA QUERIES */
/* HAMBURGER MENU USED BELOW 768PX Threshold */

@media (min-width: 375px) {
  /* KEVIN POWELL HAMBURGER CHALLENGE */

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  :root {
    --clr-primary: #ee6352;
    --clr-dark: #333;
    --clr-neutral: #ddd;
    --clr-light: #fff;
  }

  body {
    font-family: basic-sans, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125em;
    line-height: 1.6;
    color: var(--clr-body);
    background: var(--clr-neutral);
    overflow-x: hidden;
  }

  a { color: var(--clr-primary); }

  .nav {
    background: var(--clr-light);
    position: absolute;
    left: 0;
    box-shadow: 0 0 3em rgba(0,0,0,.15);
    transform: translateX(-100%);
    transition: transform 300ms cubic-bezier(.5, 0, .5, 1)
  }

  .nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 3em 6em;
  }

  .nav__item {
    margin-bottom: 3em;
  }

  .nav__link {
    text-decoration: none;
    color: var(--clr-dark);
  }

  .nav__link:hover {
    text-decoration: underline;
    color: var(--clr-primary);
  }

  .nav__toggle {
    position: absolute;
    top: 1.5em;
    left: 0;
    transform: translateX(724%);
    background: var(--clr-light);
    padding: 1em .5em;
    border: 0;
    border-radius: .25em 0 0 .25em;
  }

  .hamburger {
    display: block;
    position: relative;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    width: 2em;
    height: 3px;
    background: var(--clr-dark);

    transition: transform 350ms ease-in-out, opacity 200ms linear;
  }

  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
    left: 0;
  }

  .hamburger::before { bottom: 6px; }
  .hamburger::after { top: 6px;}


  /* Navigation open styles */

  .nav-open .nav {
    transform: translateX(0);
  }

  /* Change this stuff below */

  .nav-open .hamburger {
    transform: rotate(45deg);
  }

  .nav-open .hamburger::before {
    opacity: 0;
  }

  .nav-open .hamburger::after {
    transform: rotate(90deg) translate(-6px);
  }

  .main-nav {
    display: none;
  }
}

@media (min-width: 768px) {
  .main-nav {
    width: 770px;
    margin: 0 auto;
  }

  .logo {
    font-size: 1.125rem;
  }
}

@media (min-width: 992px) {
  .main-nav {
    width: 990px;
    margin: 0 auto;
  }

  .logo {
    font-size: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .main-nav {
    width: 1280px;
    margin: 0 auto;
  }
}







.parent {
  /* Most common use case for position relatiive!!! */
  position: relatiive;
  height: 200vh;
}

/* .child-one {
  /* Relatiive will rarely be used in this way. */
  /* This will even overflow a parent
 position: relatiive;
 left: 10px;
 /* Takes this out of the document flow
 top: 20px;
} */

.child-one {
  /* Removes element from document flow and the rest renders as if it didn't even exist */
  /* Absolutely positions an element inside of some parent container that it can reference. */
  /* It can't be positioned relatiive to a static element. */
  /* Relatiive absolute sticky or fixed can work with absolute positioning. */
  /* FIXED are always fixed  relatiive to the entire HTML element*/
  /* Fixed moves with the page as you scroll  and is based on the entire html page but nost a parent*/
  /* Sticky is a combination of relatiive and fixed position into one */
  position: sticky;
  top: 0px;
  right: 0px;
}

.child-two {

}

.child-three {

}
