:root {
  --clr: #006194;
}
/*Notes for Contact Form:
Much of the styling on this page is for just the signup demo video.
Kevin Powell prefers "PT Sans Narrow", sans-serif; */



body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  /* display: grid; */
  /* place-items: center; */
  /* Compare the above to display: flex: justify content, align items, etc. */
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
}

/******************************************************************************
---------- ZOMBIE FLEX --------------------------------------------------------
******************************************************************************/
.zombie-header {
  /* padding: none; */
  display: flex;
  /* flex-direction: column; */
  list-style: none;
  /* flex-direction: row; */
  /* justify-content gets overridden by flex-grow */
  justify-content: space-between;
  /* padding: 1em; */
  line-height: 50px;
  justify-content: center;
  align-items: center;
  /* align-items: stretch; this is the default*/
  /* align-items: flex-end; */
  /* justify content also has flex-start, flex-end, and center, also space-between & space-around */
  /* values of f-d: row, column & reverse options for each  */
  /* row goes east, r-r goes west, column goes south, c-r goes north */
  /* flex-direction: row-reverse; */
  /* default is flex-start; flex-end goes opposite side of whatever flex-direction */

}

/* The reason this isn't responsive is because it does not use media queries or a hamburger menu. */
.logo {
  padding-top: 1em;
   border: 4px solid #000;
/*  background: #eee;
  border-radius: 50%; */
  align-self: stretch;
}

.zombie-header li {
  flex-grow: 8;
  text-align: center;
  /* border: 1px solid #000; */

    /* border: 1px solid #000; */
}

.zombie-header li:nth-child(3) {
  flex-grow: 1;
  text-align: center;
  /* flex-shrink: 5; */
  /* border: 1px solid #000; */
}

.zombie-header li a {
  text-decoration: none;

}

/*
Hint
Let's
add
our
new
setting
to
our
action
order:

1.
Turn on the crossbow

2. Aim it if neccesary

3.
Line them up along the red Justify Laser (justify-content)

4. Align them along the blue Alignment Lasers (align-items)

5. Take care of any one-off alignments with the new align-self setting.
 */

/* ul {
  background: limegreen;
  height: 50px;
  /* align also has flex-start, flex-end, stretch and center */
  /* align-items: flex-start; */
  /* margin: none; */
  /* padding: 0; */
  /* padding: 20px; */
  /* align-self has all the same values as the align items */
    /* align-self: flex-start; */
/* } */

/* .zombie-header li:nth-of-type(2){
  align-self: flex-end;
  background: red;
} */


/* .zombie-header li:nth-of-type(3){
  flex-grow: 2;
  justify-content: center;
  align-self: flex-end;
} */
/*
.zombie-header li:nth-of-type(4){
  align-self: flex-end;
}

.zombie-header li:nth-of-type(5){
  align-self: flex-end;
} */

header {
  width: 80%;
  margin: 0 auto;
}






/* https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Cross_browser_testing/Accessibility
This code highlights tabbed options with bold font. */
a:hover, input:hover, button:hover, select:hover,
a:focus, input:focus, button:focus, select:focus {
  font-weight: bold;
}

/* header, */
main, footer,
.header-section,
.return-home-section {
  width: 45%;
  margin: 0 auto;
}

/* -------------------------------------- */
/* SAMPLEING WITH DIVS IN FLEXBOX */
/* ------------------------------------- */
.flex-box {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  height: 50%;
  width: 60%;
  min-height: 550px;
  max-height: 750px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.fb-1 {
  /* margin: 13px; */
  /* margin-right: 0; */
  width: 100%;
  /* border: 1px solid black; */
  background: pink;
  flex-basis: 50%;
  min-height: 10px;
  flex-grow: 1;
  order: 4;
}

.fb-2 {
  /* margin: 13px; */
  /* margin-right: 0; */
  width: 100%;
  /* border: 1px solid black; */
  background: green;
  flex-basis: 50%;
  flex-grow: 4;
  min-height: 30%;
  order: 2;
}

.fb-3 {
  /* margin: 13px; */
  width: 100%;
  /* border: 1px solid black; */
  background: blue;
  flex-basis: 50%;
  flex-grow: 5;
  flex-shrink: 2;
  order: 3;
}

.fb-4 {
  /* margin: 13px; */
  width: 100%;
  /* border: 1px solid black; */
  background: red;
  flex-grow: 1;
  flex-shrink: 2;
  flex-basis: 20%;
  min-height: 10%;
  order: 1;
}

/* .test-wrapper {
    display: grid;
    place-items: center;
} */

/*------*/
/* HOME */
/*------*/


/*------*/
/* PORTFOLIO */
/*------*/
.portfolio-photo {
  width: 90%;
  margin: 0 5%;
}


/*------*/
/* ABOUT */
/*------*/


/*------*/
/* BLOG */
/*------*/


/*------*/
/* CONTACT */
/*------*/
