body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4d16fa;;
  color: #333;
  /* font-family: 'calibri', sans-serif; */
  Font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.container {
  text-align: center;
  padding: 2rem;
  border-radius: 5px;
  background-color:#b7ee09;
  flex: 0 0 80%;
}

.codenewbie-logo {
  max-width: 600px;
  width: 80%;
}

#quoteBtn {
  border: none;
  /* color:#b7ee09; */
  color: #fff;
  background: #4d16fa;
  font-size: 1.1rem;
  padding: 0.4rem 0.8rem;
  /* border-radius: 20px; */
  cursor: pointer;
}

#quoteBtn:hover,
#quoteBtn:focus {
  /* color: #fff; */
  /* background: #000; */
  outline-style: none;
}

blockquote {
  background: #f9f9f9;
  font-size: 1.1rem;
  border-left: 10px solid #4d16fa;
  padding: 0.75rem 1.5rem;
  max-width: 80%;
  margin: 1.5rem auto;
}

h2,
h3,
p,
a {
    color: #4d16fa;
}

a {
  font-size: 1.2rem;
  text-decoration: none;

}

a:hover,
a:focus {
  /* color: black; */
}

#quote {
  font-size: 15px;
  line-height: 1.5;
  text-align: justify;
}

#quoteAuthor {
  color: #4d16fa;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-top: .5rem;
  font-size: .9rem;
}

#quoteEpisode {
  color: #fff;
  text-transform: uppercase;
  font-size: .7rem;
}

@media all and (max-width: 360px) {
  a {
    font-size: 16px;
  }
}

@media all and (max-width: 414px) {
  blockquote {
      max-width: 90%;
      /* min-height: 79vh; */
  }

  #quoteBtn {
    padding: .8rem 1.2rem;
    min-width: 90%;
  }
}

@media all and (min-width: 415px) {
  /* this is ipad but maybe change this */
  blockquote {
    /* min-height: 58vh; */
  }

  h2 {
    font-size: .9rem;
  }
}
